NODE_ENV=development
BASE_URL=0.0.0.0
PORT=50007
KAFKA_BROKER=kafka:29092
SENDGRID_API_KEY=SG.replace_me
SENDGRID_FROM_EMAIL=noreply@example.com
TWILIO_ACCOUNT_SID=AC.replace_me
TWILIO_AUTH_TOKEN=replace_me
TWILIO_SMS_FROM=+10000000000
